
body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "footer footer"
}

header{         grid-area: header;  }
nav{            grid-area: nav;     }
main{           grid-area: main;    }
footer{         grid-area: footer;  }


.box{
  width: 100%;
  justify-self: center;
}

.flex{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: normal;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 21px;
  justify-content: center;
  align-items: center;
  margin: 0 95px 0 95px;
}



/*** End Global Mobile/Small ***/

/*** Tablet/Mid ***/
@media only screen and (min-width: 450px){
  body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas: 
    "nav nav nav nav nav nav nav nav"
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer"
  }

  .box{
    width: 80%;
  }

}

/*** End Tablet/Mid ***/


/*** Desktop/Large ***/
@media only screen and (min-width: 1024px){

  body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas: 
    "nav nav nav nav nav nav nav nav"
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer"
  }

}

/*** End Desktop/Large ***/

/*** Desktop HD/XL ***/
@media only screen and (min-width: 1440px) {

  body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas: 
    "nav nav nav nav nav nav nav nav"
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer"
  }
  
}

/*** End Desktop HD/XL ***/
