/*** Tablet/Mid ***/
@media only screen and (min-width: 450px){

	.toggleMenu{
    display: none;
  }
}

/*** Desktop/minimum ***/
@media only screen and (min-width: 1024px){

	.overlay{
    height: 100%;
    width: unset;
    position: unset;
    z-index: unset;
    left: 0;
    top: 0;
    background-color: unset;
    overflow-x: unset; 
    overflow-y: unset; 
    transition: unset;
  }

  .closebtn{
    display: none;
  }

  .overlay-content{
    display: flex;
    position: unset;
  }

  .overlay-content a  {
    padding-left: 34px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: unset;
  }

  .overlay-content li{
    margin-top: unset;
    width: unset;
  }

}
/*----------------------*/

/*** Desktop HD/XL ***/
@media only screen and (min-width: 1440px) {


}
/*----------------------*/