/*** Tablet/Mid ***/
@media only screen and (min-width: 450px){

  h1{
    font-size: 3em;
    line-height: 60px;
    margin-bottom: 3%;
  }

  h2{ 
    font-size: 0.8em;
  }

  h3{
    font-size: 1.8em;
    line-height: 39px;
  }

  footer h3{
    font-size: 2em;
    line-height: 60px;
  }

  h4{
    font-size: 1.5em;
    line-height: 39px;
  }

  .overmij h4{
    font-size: 1.2em;
    line-height: 34px;
  }

  h5{ 
    font-size: 1.2em;
    line-height: 34px;
  }

  .overmij main h5{
    font-size: 1.4em;
  }

  p{ 
    font-size: 1.1em;
    line-height: 35px;
  }

  footer p{
    font-size: 0.9em;
    line-height: 25px;
  }

  h6{
    font-size: 0.9em;
  }

  img{
    -webkit-box-shadow: 0px 4px 26px 0px rgba(219,219,219,1);
    -moz-box-shadow: 0px 4px 26px 0px rgba(219,219,219,1);
    box-shadow: 0px 4px 26px 0px rgba(219,219,219,1);
  }

  .second-button{
    width: fit-content;
    text-align: center;
  }

  .overmij main section:nth-child(1), .overmij main section:nth-child(2) {
    padding: 10% 10%;
    width: 80%;
  }

/*header*/

   header{
    padding: 3em 10% 4em 10%;
  }

/*main*/
  
  main section{
    padding: 2em 10% 0em 10%;
  }

  #werk{
    width: auto;
    padding: 2em 10% 0em 10%;
  }

  .button{
    padding: 1em 1em;
    margin-right: 1.5em;
  }

  main #overMij{
    padding: 5% 10%;
  }

  .home main h5{
    width: 80%;
  }

/*footer*/

  footer{
    padding: 2em 10% 2em 10%;
  }

/* project */

  .project header{
    padding: 3em 10%;
  }

  .project main section{
    padding: 2em 15% 0em 10%;
    width: 75%;
  }

  /* overmij */
  .overmij header .column2 img{
    margin: 0em 0em 2em;
    width: 80%;
  }

 


}

/*----------------------*/



@media only screen and (min-width: 526px){

  li{
     width: 100px;
  }

   nav {  
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    padding: 0em 4%;
  }

  nav ul {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul li {
    margin: 0;
    text-align: center;
  }

  #toggle {
    display: none;
  }

  /* project */
  .project header{
    padding: 3em 25%;
    width: 50% !important;
  }

  .project main .column1{
    width: 100%;
    padding: 0em 2em 0em 0em;
  }

  .project main .column2 {
    width: 60%;
    padding-top: 0em;
  }

  .project article.flex{
    flex-flow: row;
  }

  .project main article img{
    width: 50%;
  }

  .overmij header .column2 img{
    width: 60%;
  }

  .overmij header{
    width: 78% !important;
    padding: 3em 11% 4em 11%;
  }

}

/*----------------------*/


@media only screen and (min-width: 640px){

  .project .other-projects article img{
    width: 50%;
  }

  .project .other-projects article{
    display: flex;
  }

  .project .other-projects h5{
    padding-left: 1em;
  }

  .project .other-projects h6{
    margin: 1em 1em 0em 1.5em;
  }
}

/*----------------------*/


/*** Desktop/minimum ***/
@media only screen and (min-width: 728px){
  article.flex{
    flex-flow: row;
  }

  main article img{
    width: 95%;
  }

  .column1, .column2{
    width: 50%;
  }

  .home article:nth-child(odd).flex{
    flex-flow: row-reverse;
  }

  .home article:nth-child(odd) .column1{
    padding-left: 5em;
  }

  /* project */
  .project .omschrijving{
     padding-top: 1em;
  }

  .project main .column1{
    width: 70%;
  }

  .project main .column2{
    width: 30%;
    padding-left: 2em;
  }

  .project main section{
    padding: 2em 17% 0em; 
    width: 67%; 
  }

  .overmij header .column2 img {
    width: 90%;
    float: right;
  }

  .overmij article{
    width: 80%;
  }


}

/*----------------------*/

@media only screen and (min-width: 833px){

  .project main .column1{
    width: 59%; 
  }

  .project main section {
    padding: 2em 22% 0em;
    width: 56%;
  }

  .project .other-projects article{
    width: 80%;
  }

  .project .other-projects h6 {
    margin: 1em -1em 0em 1.5em;
  }

  .overmij article{
    width: 70%;
  }
}

/*----------------------*/


/*** Desktop/minimum ***/
@media only screen and (min-width: 1024px){

  header h4{
    width: 70%
  }

  main #overMij p{
    width: 85%;
  }

  .project main section {
    padding: 2em 25% 0em;
    width: 52%;
  }

  .project .other-projects article img {
    width: 35%;
  }

  .project .other-projects article{
    width: 60%;
  }

  .overmij header h4{
    width: 100%
  }

}
/*----------------------*/
